/*Extra small devices (portrait phones, less than 576px)
*/@media (max-width: 575.98px) { 
	.menu ul li a {
    padding: 0 0 !important;
    text-align: right;
    }
    /*slider start*/
    .slider{
    padding-bottom: 60px;
}
    .slider_content{
    margin-top: 0px;
    /*slider end*/
}
}


/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	.menu ul li a {
    padding: 0 0 !important;
    text-align: right;
    }
    /*slider start*/
    .slider{
    padding-bottom: 60px;
}
    .slider_content{
    margin-top: 20px;
    
}
.cid{
    bottom: -50px;
}
.cid li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}
   /*slider end*/
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
	/*header start*/
    .menu ul li a {
    padding: 0 0 !important;
    text-align: right;
    }
    /*slider start*/
    .slider_content{
    margin-top: 30px;
}
    /*slider end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {  
}